body {
  padding-left: 10%;
  padding-right: 10%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
body:after {
  content: " ";
  display: block;
  clear: both;
}
body menuitem {
  text-align: right;
  padding: 10px;
  border: 1px solid rgba(200, 200, 200, 0.1);
  margin-top: 10px;
  margin-bottom: 10px;
  position: fixed;
  top: 10px;
  width: 80%;
  border-radius: 3px;
  -webkit-box-shadow: 3px 3px 3px 0px rgba(150, 150, 150, 0.1);
     -moz-box-shadow: 3px 3px 3px 0px rgba(150, 150, 150, 0.1);
          box-shadow: 3px 3px 3px 0px rgba(150, 150, 150, 0.1);
  /*border-bottom: 1px solid lightgray;*/
  white-space: nowrap;
}
body menuitem div {
  color: gray;
  display: inline-block;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}
body menuitem div:hover {
  color: #222;
  /*-webkit-transform: scale(1.04, 1.07);
     -moz-transform: scale(1.04, 1.07);
      -ms-transform: scale(1.04, 1.07);
       -o-transform: scale(1.04, 1.07);
          transform: scale(1.04, 1.07);
  -webkit-transition: all .1s linear;
     -moz-transition: all .1s linear;
      -ms-transition: all .1s linear;
       -o-transition: all .1s linear;
          transition: all .1s linear;*/
}
body .container {
  width: 80%;
  overflow-y: scroll;
  overflow-x: hidden;
  top: 105px;
  position: fixed;
  height: -webkit-calc( 100% - 90px );
}
body .container aside {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
body .container aside div {
  color: gray;
  padding: 2px 0px;
  width: 80%;
  list-style-type: none;
  margin: 15px 0 15px;
  padding: 5px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
body .container aside div:hover {
  color: #222;
  margin-bottom: 15px;
}
body .container main {
  /*border-left: 1px solid lightgray;*/
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 75%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
body .container main .tagArea {
  text-align: right;
  margin-right: 3px;
  white-space: nowrap;
  color: gray;
}
body .container main .tagArea .tag {
  text-align: center;
  display: inline-block;
  padding: 10px 12px;
  border: 1px solid #EEE;
  background-color: #FDFDFD;
  border-top-left-radius: 5px;
  cursor: pointer;
  margin: 0 -5px 0 0;
  /*border-left: 1px solid white;*/
}
body .container main .tagArea .tag.active, body .container main .tagArea .tag:hover {
  background-color: EEE;
  color: #555;
  /*border-top-right-radius: 5px;*/
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
      -ms-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
body .container main .main {
  padding: 10px;
  margin-top: 0;
  border-radius: 3px;
  /*border: 1px solid lightgray;*/
  min-height: 50vh;
  background-color: #EEE;
}
body .container main .main .row div {
  display: inline-block;
  padding: 5px;
  cursor: default;
  color: rgb(100, 100, 100);
}
body .container main .main .row div:not(:last-child) {
  border-right: 1px solid #EEE;
}
body .container main .main .row .url {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 66.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
body .container main .main .row .type {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
body .container main .main .row .act {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 8.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  cursor: pointer;
  color: #111;
}
body .container main .main .row .act:hover {
  color: rgb(100,100,100);
}
body .container footer {
  text-align: center;
  width: 100%;
  height: 30px;
  padding: 5px;
  line-height: 30px;
  color: gray;
}
