<script type="text/javascript">
	$(document).ready(function () {
		$("#<%="frame_#{controller_name}_#{action_name}"%>").on('click', '.nav-btn', function () {
			var tmp = $("<div></div>");
			tmp.load($(this).attr("href"), function () {
				var content = tmp.find("#frame_domains_show");
				$("#domain-index-content").html(content);
			});
			return false;
		});
		$("#<%="frame_#{controller_name}_#{action_name}"%> .nav-btn:first").click();
	})
</script>

<div class="col-xs-3">
    <div class="pull-left" style="line-height: 2.5">
        <%= link_to "<i class='glyphicon glyphicon-plus'></i> New".html_safe,
                    new_domain_path,
                    class: 'btn btn-default' %>
    </div>
    <% @domains.each do |domain| %>
        <div class="pull-left" style="line-height: 2.5">
            <%= link_to "<i class='glyphicon glyphicon-list-alt'></i> #{domain.name}".html_safe,
                        domain_path(domain),
                        class: 'btn btn-default nav-btn' %>
        </div>
    <% end %>
</div>
<div class="col-xs-9">
    <div id="domain-index-content">
    </div>
</div>
