<h1>Listing Domains</h1>

<div class="text-right">
    <%= link_to '+ New Domain', new_domain_path, {class: "btn btn-default"} %>
</div>
<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th colspan="2"></th>
    </tr>
    </thead>

    <tbody>
    <% @domains.each do |domain| %>
        <tr>
            <td><%= link_to domain.name, domain_path(domain.url_name), class: 'btn btn-default' %></td>
            <td><%= domain.description %></td>
        </tr>
    <% end %>
    </tbody>
</table>
<br>

