<script type="text/javascript">
	$(document).ready(function () {
		$("#<%="frame_#{controller_name}_#{action_name}"%>").on('click', '.nav-btn', function () {
			var tmp = $("<div></div>");
			tmp.load($(this).attr("href"), function () {
				var content = tmp.find("#frame_domains_show");
				$("#domain-index-content").html(content);
			});
			return false;
		});
		$("#<%="frame_#{controller_name}_#{action_name}"%> .nav-btn:first").click();
	})
</script>

<div id="domain_left" class="col-xs-12 col-sm-3 col-md-3">
    <div class="pull-left col-xs-12" style="line-height: 2.5">
        <%= link_to "<i class='glyphicon glyphicon-plus'></i> New".html_safe,
                    new_domain_path,
                    class: 'btn btn-default col-xs-12' %>
    </div>
    <% @domains.each do |domain| %>
        <div class="pull-left col-xs-12" style="line-height: 2.5">
            <%= link_to "<i class='glyphicon glyphicon-list-alt'></i> #{domain.name}".html_safe,
                        domain_path(domain),
                        class: 'btn btn-default nav-btn col-xs-12' %>
        </div>
    <% end %>
	<div class="col-xs-12 hidden-sm hidden-md hidden-lg" style="height: 20px;"></div>
</div>
<div id="domain_right" class="col-xs-12 col-sm-9 col-md-9">

    <div id="domain-index-content">
    </div>
</div>
