<% if !flash[:error].blank? %>
    <div>
        Error: <%= simple_format flash[:error] %>
    </div>
<% end %>
<div>Name:</div>
<div><%= @user.username %></div>
<div>
    <% @domains.each do |domain| %>
        <div>
            <div><%= link_to domain.name , domain_path(domain.url_name) %></div>
        </div>
    <% end %>
</div>
<div><%= link_to 'Back', :back %></div>
