@import "susy";
@import "breakpoint";

$susy: (
	columns: 12,
	gutter: 1/4,
	math: fluid,
	output: float,
	gutter-position: inside,
);

body{
	@include gutter(1);
	@include container(10);
	menuitem {
		// @include span(12);
		text-align: right;
		padding: 10px;
		border-bottom: 1px solid lightgray;
		margin-top: 10px;
		margin-bottom: 10px;
		position: fixed;
		top: 10px;
		width: 80%;
		border-radius: 3px;
		-webkit-box-shadow: 3px 9px 23px 0px rgba(50, 50, 50, 0.1);
		-moz-box-shadow:    3px 9px 23px 0px rgba(50, 50, 50, 0.1);
		box-shadow:         3px 9px 23px 0px rgba(50, 50, 50, 0.1);
		border-bottom: 1px solid lightgray;
		white-space: nowrap;
		div{
			color: gray;
			display: inline-block;
			padding: 5px;
			margin: 5px;
			cursor: pointer;
		}
		div:hover{
			color: #222;
		}
	}
	.container{
		width: 80%;
		overflow-y: scroll;
		overflow-x: hidden;
		top: 90px;
		position: fixed;
		height: -webkit-calc( 100% - 90px );
		aside{
			// background-color: orange;
			@include span(3);
			div{
				color: gray;
				padding: 2px 0px;
				// border-radius: 9px;
				// border-right: 1px solid lightgray;
				// border-left: 1px solid lightgray;
				width: 80%;
				list-style-type: none;
				margin: 15px 0 15px;
				padding: 5px;
				text-align: center;
				overflow: hidden;
				text-overflow: ellipsis;
				cursor: pointer;
			}
			div:hover{
				color: #222;
				// border-bottom: 1px solid #EEE;
				margin-bottom: 15px;
			}
			// li:before{
			// 	content: "-";
			// 	float: left;
			// }
			// li:after{
			// 	content: "-";
			// 	float: right;
			// }
		}
		main{
			border-left: 1px solid lightgray;
			@include span(9);
			.tagArea{
				text-align: right;
				margin-right: 5px;
				white-space: nowrap;
				color: gray;
				.tag{
					text-align: center;
					display: inline-block;
					padding: 10px;
					background-color: #EEE;
					border-top-left-radius: 5px;
					cursor: pointer;
				}
				.tag.active, .tag:hover{
					background-color: lightgray;
					color: #555;
				}
			}
			.main{
				padding: 10px;
				margin-top: 0;
				border-radius: 3px;
				border: 1px solid lightgray;
				min-height: 50vh;
				.row{
					// border-bottom: 1px solid #EEE;
					div{
						display: inline-block;
						padding:5px;
						cursor: default;
					}
					div:not(:last-child){
						border-right: 1px solid #EEE;
					}
					.url{
						@include span(8);
						white-space: nowrap;
						overflow-x: hidden;
						text-overflow: ellipsis;
					}
					.type{
						@include span(3);
					}
					.act{
						@include span(1);
						cursor: pointer;
						color: #555;
					}
					.act:hover{
						color: black;
					}
				}
			}
		}
		footer{
			text-align: center;
			width: 100%;
			height: 30px;
			padding: 5px;
			line-height: 30px;
			color: gray;
		}
	}
}