menuitem.nav_bar{
  .content {
	border-bottom: 1px solid lightgray;
	white-space: nowrap;
	margin-top: -5px;
	div {
	  color: gray;
	  display: inline-block;
	  padding: 5px;
	  margin: 5px;
	  cursor: pointer;
	}
	div:hover {
	   color: black;
	}
  }
  .content:hover {
	border-bottom: 1px solid gray;
  }
}