<menuitem class="nav_bar container">
	<div class="content col-sm-12">
	    <div>Home</div>
	    <div>Dome</div>
	    <div>Admin</div>
	    <div>Profile Setting</div>
	    <div>Logout</div>
	</div>
</menuitem>